.texto-principal {
     width: 334px;
     height: 161px;
     margin-left: 150px;
}

.inputs-formularios {
     height: 37px;
     font-size: 19px;
     background: rgba(255, 255, 255, 0.70);
     box-shadow: rgba(255, 255, 255, 0.70);
}

#nome-completo {
     width: 450px;
}

.container-fluid {
     margin-top: 160px;
}